<!DOCTYPE html>
<html>
<head>
  <title>Scream</title>
  <%= stylesheet_link_tag    "scream/application", media: "all" %>
  <%= javascript_include_tag "scream/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
